$primaryColor : #5768AD;
$darkPrimaryColor:#1335bd;
$secondaryColor:#6e7580;
$sectionColor:#f5f5f5;
$whiteColor : #fff;

@import '../style/responzivnost';
@import '../style/navbar';
@import '../style/firstSection';
@import '../style/secondSection';
@import '../style/thirdSection';
@import '../style/fourthSection';
@import '../style/fifthSection';
@import '../style/sixthSection';
@import '../style/footer';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // (Bio je neki overflow na x osi) border: 1px solid #f00 !important;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif; 
}


